body {
  .calculator {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    line-height: 50px;

    .logo {
      flex: 20;
      font-size: 30px;
    }
  }
}