$background: #ccc;
$filterBackground: #000;
$blurBackground: 20px;
$opacityBackground: 1;

body {
  background: $background;
  background-size: cover;

  div#app {
  }

  div.cover {
    position: fixed;
    z-index: -1;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    -webkit-filter: blur($blurBackground);
    -moz-filter: blur($blurBackground);
    -o-filter: blur($blurBackground);
    -ms-filter: blur($blurBackground);
    filter: blur($blurBackground);

    background: $filterBackground;

    .cover {
      position: absolute;
      opacity: $opacityBackground;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
      overflow-x: hidden;
    }
  }
}