@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');
@import './variables';
@import './background';
@import './connect';
@import './loader';
@import './currency';
@import './rates';
@import './calculator';

* {
  padding: 0;
  margin: 0;
}

body {
  background: $filterBackground;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
  color: $colorText;

  div#app {
    ul {
      position: relative;
      z-index: 50;
    }
  }
}