body {
  .rates {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    flex: auto;

    .block {
      display: block;
      flex-direction: column;
      justify-content: center;
      height: 400px;
      width: 100%;
      background: $filterBackgroundOpacity;

      .name {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
        line-height: 30px;
      }

      .rates {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        flex-direction: column;
        line-height: 100px;

        span {
          font-size: 30px;

          span {
            font-size: 20px;
            text-transform: uppercase;
          }
        }
      }

      .date {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        opacity: 0.7;
        width: 100%;
        text-align: center;
        line-height: 50px;
      }
    }
  }
}